[Unit]
Description=pull sandbox image defined in containerd config.toml
# pulls sandbox image using ctr tool
After=containerd.service
Requires=containerd.service

[Service]
Type=oneshot
ExecStart=/etc/eks/containerd/pull-sandbox-image.sh
Environment="AWS_CA_BUNDLE=/etc/pki/ca-trust/source/anchors/shift-ca.pem"

[Install]
WantedBy=multi-user.target
